parameters:
	ignoreErrors:
		-
			message: '#^Method Novaway\\ElasticsearchBundle\\DataCollector\\ElasticsearchDataCollector\:\:getQueries\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DataCollector/ElasticsearchDataCollector.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\DataCollector\\ElasticsearchDataCollector\:\:getResults\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DataCollector/ElasticsearchDataCollector.php

		-
			message: '#^Cannot access offset ''enabled'' on array\|bool\|float\|int\|string\|UnitEnum\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/CompilerPass/ConfigureLoggerPass.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\ArrayNode\:\:children\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^PHPDoc tag @var with type Symfony\\Component\\Config\\Definition\\ArrayNode is not subtype of native type Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Elastica\\Client\:\:setEventDispatcher\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 2
			path: src/Elastica/Client.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects non\-empty\-string, array\|bool\|string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Elastica/Client.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Elastica\\Client\:\:\$eventDispatcher \(Novaway\\ElasticsearchBundle\\Elastica\\EventDispatcherInterface\) does not accept Symfony\\Component\\EventDispatcher\\EventDispatcherInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Elastica/Client.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Elastica\\Client\:\:\$eventDispatcher \(Novaway\\ElasticsearchBundle\\Elastica\\EventDispatcherInterface\) does not accept Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Elastica/Client.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Elastica\\Client\:\:\$eventDispatcher has unknown class Novaway\\ElasticsearchBundle\\Elastica\\EventDispatcherInterface as its type\.$#'
			identifier: class.notFound
			count: 2
			path: src/Elastica/Client.php

		-
			message: '#^Strict comparison using \=\=\= between null and null will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 2
			path: src/Elastica/Client.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Elastica\\Index\:\:createSearch\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Elastica/Index.php

		-
			message: '#^Parameter \#1 \$dispatcher of class Novaway\\ElasticsearchBundle\\Elastica\\Search constructor expects Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface, Novaway\\ElasticsearchBundle\\Elastica\\EventDispatcherInterface given\.$#'
			identifier: argument.type
			count: 2
			path: src/Elastica/Index.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Elastica\\Index\:\:\$dispatcher \(Novaway\\ElasticsearchBundle\\Elastica\\EventDispatcherInterface\) does not accept Symfony\\Component\\EventDispatcher\\EventDispatcherInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Elastica/Index.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Elastica\\Index\:\:\$dispatcher \(Novaway\\ElasticsearchBundle\\Elastica\\EventDispatcherInterface\) does not accept Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Elastica/Index.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Elastica\\Index\:\:\$dispatcher has unknown class Novaway\\ElasticsearchBundle\\Elastica\\EventDispatcherInterface as its type\.$#'
			identifier: class.notFound
			count: 2
			path: src/Elastica/Index.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Elastica\\Search\:\:dispatch\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 2
			path: src/Elastica/Search.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Elastica\\Search\:\:search\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Elastica/Search.php

		-
			message: '#^Parameter \#1 \$event of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\:\:dispatch\(\) expects object, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Elastica/Search.php

		-
			message: '#^Parameter \#2 \$eventName of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\:\:dispatch\(\) expects string\|null, Novaway\\ElasticsearchBundle\\Event\\BaseEvent given\.$#'
			identifier: argument.type
			count: 1
			path: src/Elastica/Search.php

		-
			message: '#^Unable to resolve the template type T in call to method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\:\:dispatch\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Elastica/Search.php

		-
			message: '#^PHPDoc tag @method has invalid value \(protected function dispatch\(BaseEvent \$event, string \$eventName \= null\)\)\: Unexpected token "dispatch", expected ''\('' at offset 34 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Elastica/Traits/SearchTrait.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Event\\Behaviors\\SearchEvent\:\:getBody\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/Behaviors/SearchEvent.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Event\\ExceptionEvent\:\:__construct\(\) has parameter \$queryData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/ExceptionEvent.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Event\\ExceptionEvent\:\:getQueryData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/ExceptionEvent.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Event\\ExceptionEvent\:\:\$queryData type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/ExceptionEvent.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Event\\SearchQuery\:\:__construct\(\) has parameter \$body with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/SearchQuery.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Event\\SearchQuery\:\:getBody\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/SearchQuery.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Event\\SearchQuery\:\:\$body type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/SearchQuery.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Event\\SearchResult\:\:__construct\(\) has parameter \$body with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/SearchResult.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Event\\SearchResult\:\:getBody\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/SearchResult.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Event\\SearchResult\:\:\$body type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Event/SearchResult.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Provider\\IndexProvider\:\:__construct\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Provider/IndexProvider.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Provider\\IndexProvider\:\:getConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Provider/IndexProvider.php

		-
			message: '#^Method Novaway\\ElasticsearchBundle\\Provider\\IndexProvider\:\:getIndexByName\(\) has parameter \$name with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Provider/IndexProvider.php

		-
			message: '#^Property Novaway\\ElasticsearchBundle\\Provider\\IndexProvider\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Provider/IndexProvider.php

		-
			message: '#^Trait Novaway\\ElasticsearchBundle\\Traits\\EventDispatcherAwareTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/EventDispatcherAwareTrait.php
